body {
    font-family: 'Calibri';
    color: #0c374d;
    background-color: #aaccff;
    margin-left: 90px;
    margin-right: 90px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

h1, h2 {
    font-family: 'Cambria';
    text-align: center;
}

h3 {
    font-family: 'Cambria';
}

a {
    color: #0c374d;
    text-decoration: none;
}

a:hover {
    color: #171e21;
    text-decoration: underline;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

nav {
    text-align: center;
    font-weight: bold;
}

table tr:nth-child(odd) {
    background-color: #598cd9;
    color: black;
}

table tr:nth-child(even) {
    background-color: #82b4ff;
    color: black;
}

table tr:nth-child(1) {
    background-color: #0c374d;
    color: #aaccff;
}

label {
    font-family:'Trebuchet MS', sans-serif;
    display: block;
    margin-top: 5px;
}

input {
    margin-bottom: 5px;
}

/* For Activity #3: since the size attribute doesn't support input type "number", 
I just changed its width through CSS to match other input fields*/
input[type=number] {
    width: 240px;
}

button {
    background-color: #0c374d;
    color: #aaccff;
    margin-top: 10px;
    display: block;
}

.left-align {
    text-align: left;
}

.inline {
    display: inline;
}

/* for activity 9 */
#enlarged-image {
    border-style: solid;
}

hr {
    border: 1px solid black;
}