body {
    font-family: 'Calibri';
    color: #0c374d;
    background-color: #aaccff;
    margin-left: 75px;
    margin-right: 75px;
}

header, footer {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Cambria';
    text-align: center;
}

a {
    color: #0c374d;
    text-decoration: none;
}

a:hover {
    color: #171e21;
    text-decoration: underline;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

nav {
    text-align: center;
    font-weight: bold;
}

ol {
    display: table;
    margin: auto;
    padding-bottom: 20px;
}

table {
    margin: auto;
}

table tr:nth-child(odd) {
    background-color: #598cd9;
    color: black;
}

table tr:nth-child(even) {
    background-color: #82b4ff;
    color: black;
}

table tr:nth-child(1) {
    background-color: #0c374d;
    color: #aaccff;
}

label {
    font-family:'Trebuchet MS', sans-serif;
    display: block;
}

input {
    margin-bottom: 10px;
}

/* For Activity #3: since the size attribute doesn't support input type "number", 
I just changed its width through CSS to match other input fields*/
input[type=number] {
    width: 240px;
}
button {
    background-color: #0c374d;
    color: #aaccff;
    margin-top: 10px;
}

.left-align {
    text-align: left;
}

